<template name="router">
  {{loginButtons align="right"}}
  {{#if currentUser}}
    {{#if currentUser.profile.image}}
      {{> changePhoto}}
    {{else}}
      {{> getImage}}
    {{/if}}
  {{else}}
    {{#if loggingIn}}
      logging in...
    {{else}}
      Sign in to change the face!
    {{/if}}
  {{/if}}
  <h1 class="text-center header">MyFace</h1>
  {{> grid}}
  {{#if currentUser}}
  <p class="text-center">
    Click on the squares until you are all that remains
  </p>
  {{/if}}
  <p class="text-center">
    Created using <a href="http://meteor.com">Meteor</a>.
    <a href="https://github.com/foxdog-studios/myface">Source code on github</a>
  </p>
</template>

