#login-buttons {
  float: right;
  line-height: 36px;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 20px;
}

.top-left {
  position:absolute;
  top: 15px;
  left: 10px;
}

.get-image img,
.get-image video {
  width: 320px;
  height: 320px;
  background-color: #ccc;
}

.get-image,
.grid {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.grid-row {
  /* Set to zero so there are no gaps between buttons*/
  font-size: 0px;
}

.grid-cell {
  width: 80px;
  height: 80px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #ccc;
}

