#login-buttons {
  float: right;
}

.get-image img,
.get-image video {
  width: 320px;
  height: 320px;
  background-color: #ccc;
}

.get-image,
.grid {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.grid-row {
  /* Set to zero so there are no gaps between buttons*/
  font-size: 0px;
}

.grid-cell {
  width: 80px;
  height: 80px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #ccc;
}

